.animator {
  position: fixed;
  opacity: 0;
  z-index: 0;
  transform: translate(0, 0) scale(1);
}

.cardWrap {
  position: relative;
  z-index: 1;
}

.blur {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}
